    <!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Getway Properties</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description"  content="Getway Properties"/>
    <meta name="keywords" content="">
    <meta name="author"  content=""/>
    <meta name="MobileOptimized" content="320">
    <!--srart theme style -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <!-- end theme style -->

    <!-- favicon links -->
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
</head>
<body ng-app="myApp" ng-controller="AppController">

<div ng-include = "'topPanel.html'"></div>

<div ng-include= "'search.html'" ng-controller="TabsController"></div>


<div class="clearfix"></div>
<!--List your property start-->

<div class="gp_list_your_property_wrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gp_list_detail">
                    <h3>List your Property</h3>
                    <p>Pending from Brian</p>
                </div>
            </div>

            <div class="col-md-8 col-sm-8">
                <div class="gp_list_your_property">
                    <h4>Required fields are marked *</h4>
                    <form name="enquiryForm" ng-controller="EnquiryController" novalidate>
                    <div class="row" show-errors>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>First Name</label>
                                <div class="gp_input">
                                    <input type="text" name="Firstname" ng-model="FirstName" required placeholder="FirstName"/>
                                    <p class="help-block" ng-if="enquiryForm.Firstname.$error.required && displayErrors">Your FirstName is required</p>
                                </div>
                            </div>
                            <div class="gp_input_wrapper">
                                <label>Last Name</label>
                                <div class="gp_input">
                                    <input type="text" name="LastName" ng-model="LastName" required placeholder="LastName"/>
                                    <p class="help-block" ng-if="enquiryForm.LastName.$error.required && displayErrors">Your Last name is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>Your Email</label>
                                <div class="gp_input">
                                    <input type="email" name="email" ng-model="EmailAddr" required placeholder="Email"/>
                                    <p class="help-block" ng-if="enquiryForm.email.$error.required && displayErrors">Your email is required</p>
                                    <p class="help-block" ng-if="enquiryForm.email.$error.email && displayErrors">Your email address is invalid</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>Phone/Mobile Number</label>
                                <div class="gp_input">
                                    <input type="text" name="MobileNo" ng-model="MobileNo" placeholder="Mobile/Telephone"
                                           required ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/"/>
                                    <p class="help-block" ng-if="enquiryForm.MobileNo.$error.required && displayErrors">Your Number is required</p>
                                    <p class="help-block" ng-if="!enquiryForm.MobileNo.$error.required && enquiryForm.MobileNo.$invalid && displayErrors">Your Number is invalid</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>Location</label>
                                <div class="gp_input">
                                    <input type="text" name="Location" ng-model="Location" required placeholder="Area/City..."/>
                                    <p class="help-block" ng-if="enquiryForm.Location.$error.required && displayErrors">Your Location is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="gp_i_want_to">
                                <span>I want to</span>
                                <div class="gp_radio">
                                    <div class="radio">
                                        <input type="radio" id="buy1" ng-model="Purpose" name="i_want_to" value="buy" checked="">
                                        <label for="buy1">Buy</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" id="lease1" ng-model="Purpose" name="i_want_to" value="lease">
                                        <label for="lease1">Lease</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" id="rent1" ng-model="Purpose" name="i_want_to" value="rent">
                                        <label for="rent1">Rent</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="gp_property_type">
                                <span>Property Type</span>
                                <div class="gp_radio">
                                    <div class="radio">
                                        <input type="radio" id="commercial1" ng-model="PropertyType" value="Commercial" checked="">
                                        <label for="commercial1" >Commercial</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" id="residential1" ng-model="PropertyType" value="Residential">
                                        <label for="residential1" >Residential</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" id="land1" ng-model="PropertyType" value="Land">
                                        <label for="land1" >Land</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>Property Sub Type</label>
                                <div class="gp_select_label">
                                    <select id="SubPropertyTypeValue" ng-model="SubPropertyTypeValue">
                                        <option ng-repeat="item in SubPropertyType[PropertyType]" value="{{item.ID}}" >{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>City</label>
                                <div class="gp_select_label">
                                    <select id="PropertyCity" ng-model="PropertyCity" >
                                    <option ng-repeat="city in Cities" value="{{city.ID}}" >{{city.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>Location</label>
                                <div class="gp_select_label">
                                    <select id="PropertyLoc" ng-model="PropertyLocation">
                                        <option ng-repeat="location in Locations[PropertyCity]" value="{{location.ID}}" >{{location.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="gp_input_wrapper">
                                <label>Message</label>
                                <div class="gp_input">
                                    <textarea ng-model="Message"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <a href="" class="gp_submit_list" ng-click="addEnquiry()">Submit</a>
                        </div>

                    </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="gp_contact_info">
                    <h3>Contact Information</h3>
                    <ul>
                        <li>
                            <div class="icon"><img src="images/map_marker.png" alt="" /></div>
                            <div class="detail">
                                <h3>Office Address</h3>
                                <p>Pending from Brian</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="images/phone.png" alt="" /></div>
                            <div class="detail">
                                <h3>Phone number</h3>
                                <p>+919822983501 </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="images/envelope.png" alt="" /></div>
                            <div class="detail">
                                <h3>Email Address</h3>
                                <p>collin@gatewayproperties.com </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<!--List your property end-->
<div ng-include = "'footer.html'"></div>

<!--main js file start-->
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/appController.js"></script>
<script type="text/javascript" src="app/tabsController.js"></script>
<script type="text/javascript" src="app/enquiryController.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.parallax-scroll.js"></script>
<script type="text/javascript" src="js/plugin/smoothscroll/smoothscroll.js"></script>
<script type="text/javascript" src="./app/services.js"></script>
<!--main js file end-->
</body>


</html>
